{% extends 'base.html' %}

{% block title %}Todo List{% endblock %}

{% block content %}
  <h1>
    Todo list
    <a class="btn btn-primary link-to-page float-right" href="{% url 'task_create' %}">Add task</a>
  </h1>
  {% if tasks %}
    <ul>
      {% for task in tasks %}
        <li>
          <h4>
            {{ task.content }}
            <strong>
              {% if task.is_done %}
                <span class="task-done">Done</span>
              {% else %}
                <span class="task-not-done">Not done</span>
              {% endif %}
            </strong>
            {% if task.is_done %}
              <a class="btn btn-secondary link-to-page float-right" href="{% url 'task_toggle_status' pk=task.id %}">
                Undo
              </a>
            {% else %}
              <a class="btn btn-success link-to-page float-right" href="{% url 'task_toggle_status' pk=task.id %}">
                Complete
              </a>
            {% endif %}
          </h4>
          <p class="publish-date">
            Created: {{ task.created_at }}
            {% if not task.is_done %}
              <strong class="deadline">Deadline: {{ task.deadline }}</strong>
            {% endif %}
          </p>
          <p class="task-tags">
            {% if task.tags.all %}
              <span class="tag-list">
                Tags:
                {% for tag in task.tags.all %}
                  {{ tag.name }}
                {% endfor %}
              </span>
            {% endif %}
          </p>
          <p class="task-actions">
            <a href="{% url 'task_update' pk=task.id %}" class="btn btn-secondary">Update</a>
            <a href="{% url 'task_delete' pk=task.id %}" class="btn btn-danger">Delete</a>
          </p>
        </li>
        <hr>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no tasks</p>
  {% endif %}
{% endblock %}
